.card {
  width: calc(25% - 30px);
  background-color: var(--grisClaro);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.card img {
  height: 300px;
  object-fit: cover;
}
.card__data {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card__data h5{
  font-size: 1.5rem;
}
.card__data .card__category{
  color: var(--gris);
}
.btnBuy{
  text-align: center;
  text-decoration: none;
  padding: 12px;
  color: var(--oro);
  font-weight: bold;
  background-color: white;
  border: 1px solid rgb(102, 102, 102);
  border-radius: 3px;
  transition: background-color ease .3s;
  margin:0px 25px 25px 25px;
  margin-top: auto;
}
.btnBuy:hover{
  background-color: #555;
}