.filters{
  background-color: var(--beige);
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filters__container{
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}
.filters__order{
  display: flex;
}
.filters__order p{
  padding-right: 5px;
}
.filters__options{
  font-family: 'Poppins';
}
.btnReturn{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.filters__options{
  margin-right: 15px;
  padding:5px 15px ;
  min-width: 150px;
  overflow: hidden;
  border: 1px solid black;
}
.filters__options > option{
 font-family: 'Poppins';
 padding: 10px;
}