.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
}
.grid-item {
  height: 40px;
}
.totalCard__container{
  padding: 25px 75px;
  width: 20%;
  background-color: var(--beige);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.totalCard__container h2{
  font-size: 32px;
}
.subtotal{
  color: var(--gris);
  text-align: end;
}
.total{
  color: var(--oro);
  font-size: 20px;
  text-align: end;
}